$spacing-unit: 10px;

@function spacing($multiplier: 1) {
  @return $spacing-unit * $multiplier;
}

.p-1 {
  padding: spacing(1);
}
.p-2 {
  padding: spacing(2);
}
.p-3 {
  padding: spacing(3);
}
.pt-1 {
  padding-top: spacing(1);
}
.pb-2 {
  padding-bottom: spacing(2);
}
.pl-3 {
  padding-left: spacing(3);
}
.pr-1 {
  padding-right: spacing(1);
}

.flex-container {
  display: flex;
  align-items: center;
  gap: spacing(1);
}

.mat-drawer-side {
  border-color: rgba(255, 255, 255, 0.12) !important;
  border-width: 1px;
  border-radius: inherit !important;
}

.mat-toolbar.toolbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: inherit !important;
}