@use '@angular/material' as mat;
@use 'styles/custom-material';
@use 'styles/flex';

$theme: (
  color: (
    primary: mat.$violet-palette,
    tertiary: mat.$orange-palette,
    theme-type: dark
  ),
  typography: Roboto,
  density: 0
);

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;

  @include mat.theme($theme);
}

html {
  height: 100%;
}
